<div *ngIf="users">
  <div *ngFor = "let user of users.items">
      <div class="card">
          <div class="card-body">
            <h4 class="card-title">{{user.login}}</h4>
            <div class="row">
              <div class="col-12">
                  <img class="profile-img img-thumbnail" src="{{user.avatar_url}}" alt="Profile Picture">
                  <a class="btn btn-primary btn-block" href="{{user.html_url}}">Profile</a>
              </div>
             
            </div>
          </div>
        </div>
  </div>
   
</div>
